{{> navbar}}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-2">
        <div class="col-auto card">
            <div class="card-body">
                <h3>Login</h3>
                <form method="POST" action="/user/login">
                <div class="form-row">
                    <div class="col-auto">
                    <input type="email" class="form-control mb-2" id="emailinput" name="email" placeholder="email" value="admin@email.com" />
                    </div>
                    <div class="col-auto">
                    <input type="password" class="form-control mb-2" id="passwordinput" name="password" placeholder="password" value="admin" />
                    </div>
                    <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Login</button>
                    </div>
                </div>
                </form>

            </div>
        </div>
    </div>
</div>